# Ignore the large model weights (Hosted on Google Drive)
volatility_model_weights.pth
models/

# Ignore raw datasets to keep GitHub fast
Combined_News_DJIA.csv
upload_DJIA_table.csv
market_data.csv

# Notebook junk
.ipynb_checkpoints/
__pycache__/
